html {
  scroll-behavior: smooth;
}

.spa-header {
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(255, 240, 245, 0.95);
  backdrop-filter: blur(10px);
  z-index: 1000;
  border-bottom: 1px solid #f1c6d3;
}

.spa-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo {
  width: 150px;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 550;
  transition: color 0.3s;
}


.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: #F821DB;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}


.nav-links a {
  position: relative;
  text-decoration: none;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: #F821DB;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.book-btn {
  background: linear-gradient(135deg, #df2670, #F821DB);
  color: #fff;
  padding: 10px 22px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  margin-left: 20px;
  transition: 0.3s ease;
}

.book-btn:hover {
  transform: scale(1.08);
  box-shadow: 0 8px 20px rgba(194, 24, 91, 0.4);
}

@media (max-width: 768px) {
  .book-btn {
    display: none;
  }
}


.hamburger {
  width: 30px;
  cursor: pointer;
  display: none;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background: #F821DB;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 5px;
}


.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* Mobile show */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
}


/* Mobile */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 20px;
    background: #fff0f5;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    display: none;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links a {
    margin: 12px 0;
  }

  .hamburger {
    display: block;
  }
}

/*---Hero---*/
.hero {
  height: 100vh;
  background: url("images/spabackground.jpg") center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  position: relative;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.hero-content {
  position: relative;
  text-align: center;
  color: white;
  max-width: 700px;
  padding: 0 20px;

  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1s forwards;
  animation-delay: 0.5s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}

.hero-content h1 {
  font-size: 3rem;
  letter-spacing: 1px;
}

.hero-content p {
  margin: 20px 0;
  font-size: 1.2rem;
}

.hero-btn {
  display: inline-block;
  padding: 14px 32px;
  background: #F821DB;
  color: white;
  font-weight: 500;
  text-decoration: none;
  border-radius: 50px;
  transition: 0.3s ease;
}

.hero-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(194, 24, 91, 0.3);
}

@media (max-width: 768px) {
  .hero {
    height: 60vh;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .hero-btn {
    padding: 10px 22px;
    font-size: 0.9rem;
  }
}

/*--Services section---*/
.services-section {
  padding: 80px 20px;
  text-align: center;
  background: #fff0f5;
}

.services-section h2 {
  font-size: 2.5rem;
  margin-bottom: 50px;
  color: #c2185b;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.service-card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: float 3s ease-in-out infinite;
}

.service-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.service-card h3 {
  margin: 15px 0 10px;
  color: #c2185b;
}

.service-card p {
  padding: 0 15px 20px;
  font-size: 0.95rem;
  color: #555;
}

.service-card:hover {
  transform: translateY(-10px) scale(1.5);
  box-shadow: 0 15px 35px rgba(194, 24, 91, 0.4);
}

@media(max-width: 768px) {
  .services-section h2 {
    font-size: 2rem;
  }

  .service-card img {
    height: 150px;
  }
}

/*--About Us ---*/
.about-section {
  padding: 80px 20px;
  background: #fff;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 50px;
  flex-wrap: wrap;
}

.about-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.about-content {
  flex: 1;
}

.about-content h2 {
  font-size: 2.5rem;
  color: #c2185b;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 20px;
  color: #555;
}

.about-content ul {
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}

.about-content li {
  margin-bottom: 10px;
}

.about-btn {
  display: inline-block;
  padding: 12px 28px;
  background: linear-gradient(135deg, #df2670, #F821DB);
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s ease;
}

.about-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(194, 24, 91, 0.4);
}

/* Mobile */
@media(max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }
  .about-content ul {
    list-style: none;
  }
  .about-image img {
    max-width: 80%;
    margin: 0 auto;
  }
}

/*--Contact and footer---*/
.contact-footer {
  background: #fff0f5;
  padding: 60px 20px 40px 20px;
  color: #333;
  text-align: center;
}

.footer-logo {
  width: 120px;
  margin-bottom: 20px;
}

.footer-contact {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.footer-contact li {
  margin-bottom: 10px;
}

.footer-social {
  margin: 20px 0;
}

.footer-social a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: linear-gradient(135deg, #c2185b, #df2670);
  color: white;
  font-size: 1.3rem;
  margin: 0 12px;
  transition: 0.3s ease;
  text-decoration: none;
}

.footer-social a:hover {
  background: linear-gradient(135deg, #F821DB, #df2670);
  transform: scale(1.15);
  box-shadow: 0 8px 20px rgba(248, 33, 219, 0.4);
}

.footer-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 28px;
  background: linear-gradient(135deg, #df2670, #F821DB);
  color: #fff;
  border-radius: 30px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.footer-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(194, 24, 91, 0.4);
}

.footer-copy {
  margin-top: 30px;
  font-size: 0.9rem;
  color: #555;
}


/*---Book page ---*/
/* Booking Hero */
.booking-hero {
  height: 50vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff0f5;
}


.booking-content {
  position: relative;
  color: white;
  max-width: 700px;
}

.booking-content h1 {
  font-size: 2.8rem;
  margin-bottom: 15px;
  color: #F821DB;
}

.booking-content p {
  font-size: 1.2rem;
  color: #F821DB;
  ;
}

/* Booking Form */
.booking-form-section {
  padding: 60px 20px;
  background: #fff0f5;
}

.booking-form-container {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.booking-form-container h2 {
  font-size: 2rem;
  color: #F821DB;
  ;
  margin-bottom: 25px;
  text-align: center;
}

.booking-form-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

.booking-form-container input,
.booking-form-container select,
.booking-form-container textarea {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border: 1px solid #F821DB;
  ;
  border-radius: 8px;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
}

.booking-form-container input:focus,
.booking-form-container select:focus,
.booking-form-container textarea:focus {
  border-color: #F821DB;
  box-shadow: 0 0 8px rgba(248, 33, 219, 0.3);
}

.booking-btn {
  display: inline-block;
  width: 100%;
  padding: 14px 0;
  background: linear-gradient(135deg, #df2670, #F821DB);
  color: #fff;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.booking-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(194, 24, 91, 0.4);
}

.booking-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0;
  font-size: 1.2rem;
  color: #fff;
  background: #c2185b;
  padding: 20px 30px;
  border-radius: 8px;
  text-align: center;
  display: none;
  /* hidden by default */
  animation: fadeIn 0.5s ease forwards;
  z-index: 2000;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  min-width: 300px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Footer */
.booking-footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  color: #555;
  background: #fff0f5;
}

/* Mobile */
@media(max-width: 768px) {
  .booking-hero h1 {
    font-size: 2rem;
  }

  .booking-hero p {
    font-size: 1rem;
  }

  .booking-form-container {
    padding: 30px 20px;
  }
}